/*phone portrait*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 736px)
and (orientation : portrait){
/*HOME*/
  .NavBar img {
    margin-top: 5px;
    max-height: 35px;
    margin-left: -30px;
  }
  .NavBar li a {
    font-size: 13px;
    padding: 10px;
    padding-top: 15px;
    font-weight: 400;
  }
  .HomeHeading {
    font-size: 20px;
    font-weight: 400;
    padding-top: 250px;
    letter-spacing: 7px;
  }
  .Title {
    font-size: 65px;
    margin-top: -25px;
    font-weight: 400;
    letter-spacing: 35px;
    padding-left: 16px;
  }
  .HomePullQuote {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 28px;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .StoryPad {
    padding-top: 15px;
    padding-bottom: -10px;
  }
  .Collection {
    font-size: 35px;
    letter-spacing: 7px;
    padding-bottom: 30px;
    margin-top: -8px;
  }
  .grid {
    display: inline;
    column-gap: 150px;
  }
  .grid img {
    margin-bottom: -2px;
    padding-top: 7%;
    max-width: 310px;
    min-width: 150px;
  }
  .grid a {
    text-decoration: none;
    color: black;
    letter-spacing: 4px;
    opacity: 1;
    padding: -60px;
  }
  .grid p {
    padding-top: 10px;
    font-size: 18px;
    margin-top: 0%;
    letter-spacing: 2px;
  }
  .grid div {
    font-size: 12.5px;
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
  }
  .footer ul {
    padding-left: 55px;
  }
  .EndBuffer {
    padding-bottom: 5px;
  }

/*Stories*/
.PostTitle{
  font-size: 45px;
  margin-bottom: 14px;
  margin-top: -20px;
}
.StoryGrid {
  display: grid;
  margin-left: -2%;
  grid-template-columns: minmax(300px, 500px);
  grid-row-gap: 15px;
  }
.StoryGrid div:nth-child(2){
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.StoryGrid div:nth-child(3){
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}
.StoryGrid img {
  margin-bottom: -2px;
  max-width: 100%;
  min-width: 150px;
  }
.StoryGrid div {
  font-size: 13.5px;
  text-align: left;
}
.StoryGrid p {
  font-size: 11px;
  color: gray;
  font-weight: 300;
}
.footer ul {
  padding-left: 55px;
}
.EndBuffer {
  padding-bottom: 25px;
}
.Padding {
  padding-top: 20%;
}
}



/*phone landscape*/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 736px)
  and (orientation: landscape) {
    /*HOME*/
    .NavBar img {
      margin-top: 5px;
      max-height: 45px;
      margin-left: -15px;
    }
    .NavBar li a {
      font-size: 14px;
      padding-top: 18px;
      font-weight: 400;
    }
    .HomeHeading {
      font-size: 15.5px;
      font-weight: 400;
      padding-top: 120px;
      letter-spacing: 7px;
    }
    .Title {
      font-size: 90px;
      margin-top: -85px;
      font-weight: 400;
      letter-spacing: 40px;
      padding-left: 16px;
      padding-bottom: 30px;
    }
    .HomePullQuote {
      padding-left: 7%;
      padding-right: 7%;
      font-size: 27px;
      padding-top: 35px;
      padding-bottom: 35px;
    }
    .Collection {
      font-size: 45px;
      letter-spacing: 7px;
      padding-bottom: 30px;
      margin-top: -8px;
    }
    .grid {
      display: inline;
      column-gap: 150px;
    }
    .grid img {
      margin-bottom: -4px;
      max-width: 410px;
      min-width: 150px;
      padding-top: 35px;
    }
    .grid a {
      text-decoration: none;
      color: black;
      letter-spacing: 4px;
      opacity: 1;
      padding: -60px;
    }
    .grid p {
      padding-top: 12px;
      font-size: 18px;
      margin-top: 0%;
    }
    .grid div {
      font-size: 12.5px;
      text-align: center;
      margin-left: 4%;
      margin-right: 4%;
    }
    .footer ul {
      padding-left: 55px;
    }
    .EndBuffer {
      padding-bottom: 5px;
    }
    .Padding {
      padding-top: 90px;
    }

/*STORIES*/
.PostTitle{
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: -5px;
}
.StoryGrid {
  display: grid;
  margin-left: 1.5%;
  margin-right: 1%;
  grid-template-columns: minmax(300px, 500px);
  grid-row-gap: 15px;
  }
.StoryGrid div:nth-child(2){
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.StoryGrid div:nth-child(3){
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}
.StoryGrid img {
  margin-bottom: -2px;
  max-width: 100%;
  min-width: 150px;
  }
.StoryGrid div {
  font-size: 15.5px;
  text-align: left;
}
.StoryGrid p {
  font-size: 11.5px;
  color: gray;
  font-weight: 300;
}
.footer ul {
  padding-left: 55px;
}
.EndBuffer {
  padding-bottom: 25px;
}
}

@media only screen and (min-width: 1500px){
.grid p {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: black;
  font-size: 2.5em;
  margin-top: 50%;
  text-align: center;
  letter-spacing: 7px;
  margin-bottom: 15px;
}
}
